# Maven build directory (Ignore all target directories)
/target/
**/target/


# Maven Wrapper
/.mvn/wrapper/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE specific files
# IntelliJ IDEA
.idea/
*.iml
*.iws

# Eclipse
.project
.classpath
.settings/

# NetBeans
nbproject/
build/
nbbuild/
dist/
nbdist/
private/

# VS Code
.vscode/

# Maven dependency cache
/.m2/repository/

# Dependency directories
/node_modules/
jspm_packages/

# Java class files
*.class

# Compiled Python files
*.pyc

# JAR files
*.jar
*.war
*.ear

# Spring Boot specific
spring-boot-application.log

# Temporary files
*.tmp
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Other system files
*.bak
*.tmp
*.swp
*.swo
*.DS_Store

# Environment variables
.env